<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .comment-list {
            max-height: 150px;
            overflow-y: auto;
            padding: 5px;
            background-color: #f8f9fa;
            border-radius: 5px;
        }

        .comment-item {
            font-size: 0.85rem;
            padding: 5px;
            margin-bottom: 5px;
            background-color: #ffffff;
            border-left: 3px solid #007bff;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Danh sách sản phẩm</h1>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Đăng xuất</button>
    </form>

    <form th:action="@{/products/search}" method="get">
        <input type="text" name="name" th:value="${keyword}" placeholder="Tìm kiếm theo tên">
        <button type="submit">Tìm kiếm</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Ngày thêm sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Hình ảnh</th>
            <th>Comment</th>
            <th>Hành động</th>

            <th>Còn hàng</th>
            <th>Tình trạng</th>
            <th>Màu sắc</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}">1</td>
            <td th:text="${product.name}">Tên sản phẩm</td>
            <td th:text="${product.createdDate}"></td>
            <td th:text="${product.price}"></td>
            <th th:text="${product.quantity}"></th>
            <td>
                <img th:src="${product.image !=null ? '/uploads/' + product.image : ''}" alt="Product image">
            </td>
            <td>
<!--                Hiện thị list Comment của product-->
                <div th:if="${product.comments != null and !product.comments.isEmpty()}" class="comment-list">
                    <div th:each="comment: ${product.comments}" class="comment-item">
                        <i class="fas fa-comment-dots text-primary"></i>
                        <span th:text="${comment.text}">Comment Text: </span>

                    </div>

                </div>
            </td>
            <td>
                <a th:href="@{/products/detail/{id}(id = ${product.id})}" class="btn btn-info">Xem</a>
                <span sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn btn-warning">Sửa</a>
                    <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger" onclick="return confirm('Bạn có chắc muốn xóa?')">Xóa</a>
                </span>
            </td>

            <td th:text="${product.inStock == true ? 'Còn':'Hết'}"></td>
            <td th:text="${product.productCondition}"></td>
            <td th:text="${product.colors}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>